<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <%=headerTitle %>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <% if (breadcrumb[0].path) { %>
                <li><a href="<%=breadcrumb[0].path %>"><%=breadcrumb[0].name %></a></li>
                <% if (breadcrumb[1].path) { %>
                    <li class="active"><%=breadcrumb[1].name %></li>
                <% } else { %>
                    <li class="active"><%= headerTitle %></li>
                <% } %>
            <% } %>
        </ol>
    </section>